/* 1. Importar los estilos base de la plantilla Soft UI (Siguen siendo la base global) */
@import "./soft-ui/nucleo-icons.css";
@import "./soft-ui/nucleo-svg.css";
@import "./soft-ui/soft-ui-dashboard-tailwind.css";


/* 3. Cargar los componentes y utilidades de Tailwind (estos son globales) */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 4. Estilos adicionales para el dropdown del perfil */
.transform-dropdown {
  transform: scale(0.9) translate3d(0, -10px, 0);
  opacity: 0;
  transition: opacity 0.15s ease-out, transform 0.15s ease-out;
}

.transform-dropdown-show {
  transform: scale(1) translate3d(0, 0, 0);
  opacity: 1;
  transition: opacity 0.15s ease-in, transform 0.15s ease-in;
}


